body {
    font-family:DM SANS;
    background-color:#EDE8F9;
    color: #4A160E;

}
h1,h2,h3,h4,h5,h6 {
    font-family:"Roboto Serif";
}
h1{
    font-size:40pt;
}

header{
    text-align:center;
}
/* Hero Section */
#hero, footer{
    border:2px solid #57C2FF;
    background-color:#CCC7D6;
    text-align:center;
    padding:10px;
}
#hero img{
    width:350px;
}
/* Bio Section */
#bio{
    text-align:center;
}
/* Hobbies Section */
#hobbies ul li{
    padding:10px;
    border:2px solid #57C2FF;
}
#hobbies ul{
    width: 25%;
}
/* Gallery */
#gallery{
    text-align:center;
    border:2px solid #57C2FF;
    margin-bottom: 2rem;
}
#gallery img{
    max-width:100%
}
#gallery figure{
    text-align:center;
}
/*Literature*/
#lit{
    border:2px solid #57C2FF;
    text-align: center;
    margin-bottom:2rem;
}

#lit div{
    padding:2rem;
    max-width: 40rem;
    margin: auto;
}
