body {
    font-family:DM SANS;
    background-color:#EDE8F9;
    color: #4A160E;

}
h1,h2,h3,h4,h5,h6 {
    font-family:"Roboto Serif";
}

h1{
    font-size:40pt;
}

h2{
    margin:1em;
}


header{
    text-align:center;
}
/* Hero Section */
#hero, footer{
    border:2px solid #57C2FF;
    background-color:#CCC7D6;
    text-align:center;
    padding:10px;
}
#hero img{
    width:350px;
}
/* Bio Section */
#bio{
    text-align:center;
}
/* Hobbies Section */
#hobbies{
    display: flex; 
    flex-direction: column; 
    align-items: center;

}
#hobbies ul li{
    padding:10px;
    border:2px solid #57C2FF;
    
}
#hobbies ul{
    width: 25%;
}
/* Gallery */
#gallery{
    text-align:center;
    border:2px solid #57C2FF;
    margin-bottom: 2rem;
}
#gallery img{
    max-width:100%
}
#gallery figure{
    text-align:center;
}
/*Literature*/
#lit{
    border:2px solid #57C2FF;
    text-align: center;
    margin-bottom:2rem;
    padding-top: 10px;
}

#lit div{
    padding:2rem;
    max-width: 40rem;
    margin: auto;
}
/* Drop Caps */
#lit div p:first-child:first-letter{
    color: #4A160E;
    float: left;
    font-size:40px;
    line-height: 50px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left:3px;
    padding-bottom: 4px;
    font-family:Georgia;
    border: 4px outset #57C2FF;
    box-shadow:5px 5px 5px #57C2FF;
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;

}
/* Video */
    #myVideo{
        margin-left: auto;
        margin-right: auto;
        position:relative;
        display:grid;
        border: 4px outset #57C2FF;
        width:100%;
    }       
    #video{
        border:2px solid #57C2FF;
        padding:10px;
        margin-bottom:40px;    
    }
    h2{
        text-align:center;
    }
    figcaption{
        text-align:center;
    }

    /* Contact Form */
    #formElements{
        display:grid;
        row-gap:.5em
    }

    #contact{
        padding:1rem;
        max-width:600px;
        margin:2rem auto;
    }

    fieldset{
        border:2px solid #57C2FF;
        margin-top:1em;
        margin-bottom:1em;
        
    }

    legend{
        background-color: #57C2FF;
        color:black;
        padding: .5em;
        border:2px solid #4A160E;
    }

    #contact input, #contact textarea, #contact select, #contact button{
        padding:.5em;
        font-size:1rem;
        border:2px solid #57C2FF;
        box-shadow:5px 5px 5px #57C2FF;
    }

    #contact textarea{
        border:2px solid #57C2FF;
    }

    #contact ul{
        list-style:none;
        padding:0px;
    }

    #contact li{
        margin:1rem;
    }

    #contact button{
        background-color: #57C2FF;
        color:black;
        font-weight: bold;
        border:2px solid #4A160E;
        max-width: 400px;
        width: 70%;
        justify-self: center;
    }
    /* Tablet Size */
    @media screen and (min-width:60em){
        figure{
            display:grid;
            grid-template-columns: 2fr 1fr;
        }
        figcaption{
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            margin-left:1rem;
        }
        figure img{
            width: 100%;
        }
        #lit div{
            max-width: 100%;
            columns: 20rem;
        }
    }
    /* Large Screen Size */
    @media screen and (min-width: 100em){
    
        #gallery{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        hr{
            display: none;
        }
        #gallery h2{
            grid-column: 1/-1;
        }
        figure{
            display:block;
        }
    }


        

    





